<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/sytles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="game">
        <div class="vsCircle">
            <h1 class="vsText">VS</h1>
        </div>
        <div class="person given" style="background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('../static/friendata/img/3.jpg');">
            <div class="tekst">
                <h2>Joonas Kast</h2>
                <h1 class="sõbranr">12</h1>
                <p>sõpra facebookis</p>
            </div>
        </div>
        <div class="person guess" style="background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('../static/friendata/img/1.jpg');">
            <div class="tekst">
                <h2>Jürgen Tamm</h2>
                <button class="sõbranr">Rohkem</button>
                <button class="sõbranr">Vähem</button>
                <p>sõpru facebookis</p>
            </div>
        </div>
        <h3 class="skoor">Skoor: 0 lmao</h3>
    </div>
</body>
</html>