<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sa võitsid</title>
    <link rel="stylesheet" href="./static/sytles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="landing">
        <h1 class>Võitsid</h1>
        <p>Tubli! Sa võitsid ja said {{score}} punkti!</p>
        <p>See on maksimum!</p>
        <form>
          <button formaction="/game" class="alusta">Mängi uuesti?</button>
        </form>
      </div>
      <img src="./static/logo.png" />
    </div>
  </body>
</html>
