<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sa võitsid</title>
    <link rel="stylesheet" href="./static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="landing">
        <h1 class>Võitsid?</h1>
        <p>
          Tubli! Suutsid kõik {{score}} sõpra panna väljamõeldud tähtsuse järgi
          ritta.
        </p>
        <p>See on maksimum, mis on võimalik. Oled nüüd uhke v?</p>
        <form>
          <button formaction="/game" class="alusta">Tahad veel mängida?</button>
        </form>
        <form>
          <button formaction="/" class="alusta">Tagasi algusesse</button>
        </form>
      </div>
      <img src="./static/logo.png" />
    </div>
  </body>
</html>
